@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

header {
    background-color: rgb(232 235 247 / 40%);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo {
    padding: 10px 20px;
    display: inline-block;
    width: 10%;
    font-weight: 300;
    color: #DE1A1A;
}

.logo span {
    font-weight: bold;
    font-family: "Grape Nuts", cursive;
}

.navigation {
    display: inline-block;
    width: 80%;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline;
    margin: 0px 20px;
}

.navigation ul li a {
    cursor: pointer;
    transition: 0.3s all;
}

.navigation ul li a:hover {
    color: #D62020;
}

.cart {
    width: 20%;
    text-align: right;
    padding: 10px 20px;
}